<% breadcrumb :dashboard %>

<div class="w-full">
  <p class="mx-14 mt-10 text-gray-400 text-justify">
    Et aspernatur consequatur. In culpa velit. Voluptatem voluptate minima. Quo atque qui. Veniam magnam possimus.
    Dolores quos eum. Hic et quo. Sed optio et. Est officia accusantium. Cupiditate aut sed. Corporis ad libero.
    Itaque hic error. Repellendus aut quos. Velit quasi asperiores. Debitis quis ut. Dolorum sint at. Nesciunt maxime
    facilis. Est unde aliquam. Esse est assumenda. Quis ipsam ut. Unde nihil accusantium. Vero architecto sunt.
    Commodi dolor magni. Et tempore sed. Architecto et et. Sunt ullam nihil. Dolore quasi saepe. Voluptatum tenetur
    ipsum. Vitae dicta labore. Minima nostrum sint. Perferendis dolorum vel. Consectetur non sed. Aspernatur
    eligendi quaerat. Natus sunt magnam. Et sunt explicabo. Exercitationem consectetur nesciunt. Voluptatem aperiam
    vitae. Dignissimos aut ullam. Rerum nihil ullam. Placeat rerum qui. Animi sint qui. Voluptates repellendus porro.
    Fugit eum sit. Ut dignissimos eius. Et alias placeat. Sed quas voluptas. Et aliquid illum. Dolore reprehenderit
    inventore. Quia fuga incidunt.
  </p>

  <div id="tasks" class="min-w-full">
    <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
      <%= render @tasks %>
    </ul>
  </div>
</div>
