<div class="px-4 py-12 sm:px-6 lg:px-8">
  <%= mltop_nav do |nav| %>
    <% nav.section "Tasks", dashboard_tasks_path, condition: [ "challenges/dashboard/tasks" ] %>
    <% nav.section "Test sets", dashboard_test_sets_path, condition: [ "challenges/dashboard/test_sets" ] %>
    <% nav.section "Evaluators", dashboard_evaluators_path, condition: [ "challenges/dashboard/evaluators" ] %>
    <% nav.section "Challenge participants", dashboard_participants_path, condition: [ "challenges/dashboard/participants" ] %>
    <% nav.section "Challenge", edit_dashboard_challenge_path(Current.challenge), condition: [ "challenges/dashboard/challenges"] %>
  <% end %>
</div>
