<div class="px-4 py-12 sm:px-6 lg:px-8">
  <%= mltop_nav do |nav| %>
    <% nav.section "Summary", task, condition: [ "challenges/tasks" ] %>
    <% nav.section "Leaderboard", [task, :leaderboard], condition: [ "challenges/tasks/leaderboards" ] %>
  <% end %>
</div>
