<div class="p-3 bg-white sm:rounded-lg sm:shadow mx-3 my-4 flex items-center justify-between">
  <%= entry %>
  <%= render "actions", entry:, hypothesis_id: entries_with_hypotheses[entry.id], submission_id:%>
</div>
