<div class="p-3 bg-white sm:rounded-lg sm:shadow mx-3 my-4">
  <%= groundtruth %>
  <%= turbo_frame_tag dom_id(groundtruth, "hypothesis_form") do%>
    <%= link_to "Upload hypothesis", new_submission_hypothesis_path(groundtruth_id: groundtruth.id),  class: "float-right" %>
  <% end %>
</div>
