<div class="p-3 bg-white sm:rounded-lg sm:shadow mx-3 my-4 flex items-center justify-between">
  <%= groundtruth %>
  <%= render "actions", groundtruth:, hypothesis_exists: hypotheses_exist.include?(groundtruth.id)%>
</div>
