<% breadcrumb :submission_task, @model, @task %>

<%= render "submissions/header", model: @model %>

<% Model::TaskEvaluation.new(model: @model, task: @task).test_set_evaluations.each do |test_set_evaluation| %>
  <div class="overflow-hidden bg-gray-50 sm:rounded-lg sm:shadow mb-8">
    <div class="border-b border-gray-200 px-4 py-5 sm:px-6">
      <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2">
          <h3 class="text-base font-semibold leading-6 text-gray-900"><%= test_set_evaluation.name %></h3>
        </div>
      </div>
    </div>
    <div role="list">
      <%= render test_set_evaluation.hypothesis %>
    </div>
  </div>
<% end %>
