<%# locals: (model:) %>
<%= mltop_title model.name %>
<div class="px-4 py-12 sm:px-6 lg:px-8">
  <%= mltop_nav do |nav| %>
    <%- nav.section "Model info", submission_path(model), condition: [ "submissions" ] %>
    <%- nav.section "Results uploads", submission_results_path(model), condition: [ "submissions/results" ] %>
    <%- nav.section "Evaluations", submission_evaluations_path(model), condition: [ "submissions/evaluations" ] %>
  <% end %>
</div>
