  <button
    data-action="click->modal#open"
    class=" relative inline-flex items-center rounded-md  px-3 py-2 text-sm font-medium ring-1 ring-inset  mr-3">
    <%= run_icon("ml-0.5 mr-1.5 h-5 w-5") %>
    <span>Manual Score</span>
  </button>
