# Name of your application. Used to uniquely configure containers.
service: mltop

# Name of the container image.
image: piotrrcyfro/speechm

# Deploy to these servers.
servers:
  web:
    # - 149.156.182.169
    - 192.168.1.11
  # job:
  #   hosts:
  #     - 192.168.0.1
  #   cmd: bin/jobs

# Configure builder setup.
builder:
  arch: amd64
  # Pass in additional build args needed for your Dockerfile.
  # args:
  #   RUBY_VERSION: <%= ENV["RBENV_VERSION"] || ENV["rvm_ruby_string"] || "#{RUBY_ENGINE}-#{RUBY_ENGINE_VERSION}" %>
# Inject ENV variables into containers (secrets come from .kamal/secrets).
#
env:
  clear:
    DB_HOST: 192.168.1.8
  secret:
    - RAILS_MASTER_KEY

# Aliases are triggered with "bin/kamal <alias>". You can overwrite arguments on invocation:
# "bin/kamal app logs -r job" will tail logs from the first server in the job section.
#

# Use a different ssh user than root
#
ssh:
  # user: ubuntu
  proxy: ubuntu@149.156.182.169
accessories:
  db:
    image: postgres:17.6
    host: 192.168.1.8
    port: "5432:5432"
    env:
      clear:
        POSTGRES_USER: "postgres"
        POSTGRES_DB: "mltop_production"
      secret:
        - POSTGRES_PASSWORD
    files:
      #       - config/mysql/production.cnf:/etc/mysql/my.cnf
      - db/production.sql:/docker-entrypoint-initdb.d/setup.sql
    directories:
      - data:/var/lib/postgresql/data
#   redis:
#     image: valkey/valkey:8
#     host: 192.168.0.2
#     port: 6379
#     directories:
#       - data:/data
