  <div class="flex w-full flex-col items-center sm:items-end animate-appear-then-fade" data-controller="autoremove" data-autoremove-interval-value="6">
    <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
      <div class="p-4">
        <div class="flex items-start">
          <div class="flex-shrink-0">
            <%= render "/layouts/flash/#{type}_icon" %>
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p class="text-sm font-medium text-gray-900"><%= text %><p>
          </div>
        </div>
      </div>
    </div>
  </div>

