
<div class="relative w-full h-screen flex items-center justify-center space-x-8">
  <div class="w-1/2">
    <img src="<%= asset_path('404.png') %>">
  </div>
  <div class="w-1/2">
    <h1 class="text-xl font-semibold py-3">
    The page you were looking for doesn't exist.
    </h1>
    <p class="w-2/3">
    You may have mistyped the address or the page may have moved. If you're the application owner check the logs for more information.
    </p>
  </div>
</div>
