<div class="relative w-full h-screen flex items-center justify-center space-x-8">
  <div class="w-1/2">
    <img src="<%= asset_path('500.png') %>">
  </div>
  <div class="w-1/2">
    <h1 class="text-xl font-semibold py-3">
    Internal Server Error
    </h1>
    <p class="w-2/3">
      Ouch! Something went wrong on our end. We're working hard to fix it. Please try again later. In the meantime, maybe grab a coffee?
    </p>
  </div>
</div>
