<div class="mt-6 border-t border-gray-100 col-span-4">
  <dl class="divide-y divide-gray-100">
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6">
        Allowed groups
      </dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <div id="allowed_groups">
          <%= render partial: "allowed_group", collection: challenge.allowed_groups, as: :allowed_group %>
        </div>
        <%= render "new_allowed_group", challenge: %>
      </dd>
    </div>
  </dl>
</div>
