<div class="flex justify-between items-center py-2 border-b">
    <span> <%= entry.full_name %> </span>
    <%= link_to "Input", entry.input, class: "btn btn-primary", "data-turbo-prefetch": false %>
</div>
