  <% if Current.challenge.internal_leaderboard? %>
    <div class="rounded-lg border border-yellow-400 bg-yellow-300 items-center mb-2 overflow-hidden px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
      <p class="font-bold text-center text-yellow-900"> This page is currently only visible to challenge managers and admins. To make it visible to all participants, please update the challenge visibility settings. </p>
    </div>
  <% end %>
