
<div class="border <%= challenge_status_border_class %> <%= challenge_status_banner_border %> rounded-lg items-center mb-2 overflow-hidden px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm/6 text-center font-bold">
    <%= challenge_status_banner_text%>
  </p>
</div>
