<%= turbo_frame_tag "flash" do %>
  <div class="flash-container" data-action="animationend->removals#remove" data-controller="removals">
      <% if notice.present? %>
        <%= render "layouts/flash/notice", text: notice %>
      <% end%>
      <% if alert.present? %>
        <%= render "layouts/flash/alert", text: alert %>
      <% end %>
  </div>
<% end%>
