<%= turbo_frame_tag "flash" do %>
  <div aria-live="assertive" class="flash-container pointer-events-none px-4 py-4 space-y-4 fixed inset-0 items-end">
      <% if notice.present? %>
        <%= render "layouts/flash/message", text: notice, type: "notice" %>
      <% end%>
      <% if alert.present? %>
        <%= render "layouts/flash/message", text: alert, type: "alert" %>
      <% end %>
  </div>
<% end%>
