<nav class="bg-white" data-turbo-permanent>
  <div class="container mx-auto">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <%= link_to root_path do %>
            <%= image_tag "logo.webp", class: "h-8 w-auto", alt: "MLTop" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

